* {
    box-sizing:border-box;
}

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}


.featuredPropertyBox {
    height: auto;
    width: 420px;

}

.featuredPropertyBox .propertyImage {
    width: 100%;
}

.propertyCoverImage {
    height: 600px;
    width: 70%;
    background-image: url(../images/mainPropertyImage.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.heroDetails {
    text-align: center;
    background-color: #06331C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.heroDetails h1 {
    font-size: 2rem;
    font-family: 'PT Serif', serif ;
}

.heroDetails h2 {
    font-size: 14px;
}

.heroDetails p {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  
}

section, footer {
    padding-top:20px;
    padding-bottom: 20px;
}


.container {
    /* background-color: #ccc; */
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* 15px left and right is common */
}


.row {
    display: flex;
}

.topPropertyHeaderBox {
    display: flex;
    flex-direction: row;



}

.col-20 { width: 20%; }

.col-25 { width: 25%; }

.col-50 { width: 50%; }

.col-75 { width: 75%; }

.col-33 { width: 33.3333%; }

.col-66 { width: 66.6666%; }

.col{
    flex: 1;
}
.col-2{
    flex: 2;
}
.col-3{
    flex: 3;
}

.d-flex { 
    display: flex;

}

.flex-align-center {
    align-items: center;

}

.flex-justify-content-end {
    justify-content: flex-end;
}

.flex-justify-content-center {
    justify-content: center;
}



.pad {
    padding-top: 15px;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    color: #000;
}

/* img {
    width: 100%;
    height: auto;
} */

header {
    background-color: #fff;
    color: #000;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(3, 75, 9);
    margin-left: 40px;
}

header nav ul li {
    display: inline-block;
    padding: 0 18px;
    margin-right: 4px;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
    font-family: 'PT Sans', sans-serif;
}

.hamburger {
    display: none;
}


.main-nav {
    padding: 20px;
}

.main-nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #06331C;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transition: left 0.4s, width 0.4s;
}

.main-nav ul li:hover:after {
    width: 100%;
    left: 0%;
}







.requestAppraisalButton {
    padding: 10px;
    background-color:#06331C;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 18px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-style: none;
    cursor: pointer;
}


.requestAppraisalButton:hover {
    background-color: rgb(89, 148, 89);
}

.button {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    background-color: grey;
    border-radius: 6px;
    font-size: 22px;
    letter-spacing: 1px;

    transition: transform 0.3s, box-shadow 0.3s;
}

.button.green { 
    background-color:#06331C;
    color: #fff;
}

.button.green:hover {
    background-color: darkgreen;
}

.button:hover {
    background-color: #aaa;
}

.button:active {
    box-shadow: 0 0 0 #000;
    transform:translateY(4px)

}

.hero {
    background: url(../images/DJI_0329_1540226591.jpg) no-repeat center center;
    background-size: cover;

    text-align: center;
    height: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.hero h1 {
    font-weight: 400;
    font-size: 52px;
    text-align: center;
    font-weight: 400;
    font-family: 'PT Serif', serif;
    padding-bottom: 20px;
    
}

.search {
    width: 600px;
    display: flex;
}
  
.searchTerm {
    width: 100%;
    border: 3px solid #06331C;
    border-right: none;
    height: 80px;
    /** NOTE: need to fix. */
    border-radius: 20px 0 0 20px !important;
    padding: 18px 20px !important;
    outline: none;
    /* color: #9DBFAF; */
}


.ui-autocomplete {
    background: #fff;
    border: #e3e3e3 solid 1px;
    border-radius: 3px;
    list-style: none;
    width: 80px;
    box-shadow: 0 7px 10px rgba(0,0,0,0.4);
    padding-left: 0px;

}
.ui-autocomplete.source:hover {
    background: #454545;
}


 
  
.searchButton {
    width: 60px;
    border: 1px solid #06331C;
    background: #06331C;
    text-align: center;
    color: #fff;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
}
  
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


  
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}





.profile {
    background-color: #fff;
    /* box-shadow: 0 7px 10px rgba(0,0,0,0.4); */
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    border: #E3E3E3 solid 2px;
    
    height: calc(100% - 30px);
}
    
.profile:hover {
    border: #06331C solid 2px;
    box-shadow: 0 7px 10px rgba(0,0,0,0.4);
}









.profile h2 {
    text-align: center;
}


.profile ul {
    padding: 0;
    list-style: none;

}

.profile ul li {
    display: inline-block;
    padding-right: 20px;
}

.profile i {
    width: 20px;
    margin-right: 5px;
}



hr {
    width: 40%;
}

.heroDetails ul {
    padding: 0;
    list-style: none;

}

.heroDetails ul li {
    display: inline-block;
    padding-right: 20px;
}

.heroDetails i {
    width: 20px;
    margin-right: 5px;
}




/* Slick carousel */

/* .propertyPhotos {
    margin-left: 40px;
    margin-right: 40px;
} */


.slick-arrow {
    position: absolute;
    top: calc(50% - 18px);
    transform:translateY(-50%);
    left: 60px;

    color: #fff;
    font-size:40px;

    z-index: 99;
    cursor: pointer;
}

.slick-arrow:hover {
    color: #06331C;
}


.slick-next {
    left: auto;
    right: 60px
}

.slick-dots {
    padding: 0;
    text-align: center;


}

.slick-dots li {
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    height: 10px;
    width: 10px;
    margin: 0 15px;
    border-radius: 50%;


}


.slick-dots .slick-active {
    background-color: black;
}

.slick-dots button {
    display: none;

}


.slider-nav {
    padding-top: 75;
}


.slider-nav img {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}




/* property about details */



.property-info {
    
    margin: 0 auto;
    max-width: 750px;
   
}


/* .contactAgentHeading {
    
} */

.inspectionTimeBox {
    background-color: #fff;
    /* box-shadow: 0 7px 10px rgb(0 0 0 / 40%); */
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    border: #e3e3e3 solid 2px;
    height: calc(100% - 30px);
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}


    
.inspectionTimeBox:hover {
    border: #06331C solid 2px;
    box-shadow: 0 7px 10px rgba(0,0,0,0.4);
}



/* Book an inspection */


.inspectionDate {
    text-align: center;

}

.inspectionButton {
    width: fit-content;
    padding: 20px;
    margin-top: 30px;
}



/* Contact agent */

.contactAgent {
    background-color: #F4F4F4;
    vertical-align: middle;
}

.contactAgentBox {
    height: 150px;
}

.agentPic {
    border-radius: 10px 0 0 10px;
    border: #06331C solid 2px;
    height: 100%;

   
}

.profileContactDetails {
    background-color: white;
    border: #06331C solid 2px;
    border-radius: 0 10px 10px 0;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}


.profileContactDetails ul {
    
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    
   
}

/* Footer */


footer {
    background-color: #06331C;
    color: #fff;
    text-align: center;
    

}

.footer .logo {
    font-size: 2rem;
    margin-top: 0;
}

.footer-nav ul {
    padding: 0;
}

.footer-nav ul li {
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 7px 30px;
}

.footer p {
    font-size: 0.8rem;
}


.propertyDescriptionTitle {
    text-align: center;
}


.featurePoints { 
    display: flex; 
    flex-direction: column;
    text-align: left;
}



/* contact us */

.contactForm {
    background-color: #F4F4F4;
    justify-content: center;
    text-align: center;
   

}

.contactUsForm input:not(:last-child) {
    margin-right: 16px;
    margin-bottom: 16px;
}
  
form {
    padding: 20px;
    font-size:15px;
    border-radius: 2px;

}

.formButtons {
    margin-top: 20px;
}

input[type="text"], 
input[type="email"],
input[type="tel"], 
input[type="datetime-local"], 
input[type="color"], 
select,
textarea {
    width: 100%;
    border: 0;
    padding: 4px 10px;
    border-radius:4px;
    height: 30px;
        
}

textarea {
    height: auto;
}

form .btn-reset {
    width:120px;
    padding: 10px;
    color: #000;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-style: none;
    cursor: pointer;

}


form .btn-success {
    width:120px;
    padding: 10px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-style: none;
    cursor: pointer;

}


.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}


.centerMainAxis {
  justify-content: center;
}

.centerSecondAxis {
    align-items: center;
}

.imageCarousel img {
    height: auto;
    width: 100%;

}

@media(max-width: 1210px) {
    .featuredPropertyBox {
        width: 300px;
    }
}

@media(max-width: 1186px) {
    .requestAppraisalButton {
        display: none;
    }
    .search {
        display: none;
    }
}

@media(max-width: 910px) {
    .featuredPropertyBox {
        width: 250px;
    }
}

@media(max-width: 767px) {
    .featuredProperties {
        flex-direction: column;
    }

    .featuredPropertyBox {
        width: 400px;
    }

    .hamburger {
        display: block;
        font-size: 2rem;
        padding: 20px;
        cursor: pointer;
    }

    nav {
        background-color:#06331C;
        color: white;
        position: fixed;
        top: 75px;
        right: -100%;
        width: 100%;
        text-align: center;
        transition: transform 0.3s;
    }

    nav.open {
        transform: translateX(-100%);
        z-index: 1000;
    }

    nav ul li {
        display: block;
        font-size: 1.2rem;
        margin: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    .topPropertyHeaderBox {

        flex-direction: column;
    }

    .heroImage {
        width: 100%;
        
        
    }

    .heroDetails {
        
        width: 100%;
    }

    .suburbName {
        font-size: 42px;
    }

    .inspectionTimeBoxes {
        /*
         * NOTE: 
         * Investigate a better way. 
         */
        flex-direction: column !important;

    }


    .propertyCoverImage {
        width: 100%;
    }

    .for-sale {
        flex-direction: column !important;
    }
}